<a href="https://colab.research.google.com/github/restrepo/colav/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Install
https://www.anaconda.com/products/individual#Downloads
```bash
$ bash Anaconda3-2020.11-Linux-x86_64.sh
```

https://github.com/colav/HunabKu → README
```bash
$ conda install nodejs==10.13.0
$ conda install -c anaconda mongodb
$ conda install mongodb mongo-tools
$ npm install -g apidoc
$ pip install python-Levenshtein
$ pip install hunabku
```
Check the `mongodb` installation with

```bash
$ mongo
...
> exit
```

[and](https://mail.google.com/mail/u/1/#search/omar+mogodb/QgrcJHrnxTDFKqWmJrDLhjJmxrpWZSRjhlq) if necessary, explicit start the `mongod` service
```
$ mkdir -p data/db
$ mongod --dbpath data/db/
```

use `mongo` in another terminal

Download: `Moai-0.0.3a0-py3-none-any.whl` from Google Drive CoLav shared Drive and install it with

```bash
$ pip install Moai-0.0.3a0-py3-none-any.whl
```

Now we can start the server
```bash
$ hunabku_server
```
Take note of the url server generated. The same url serves the documentation.
Check the documentation server with the link at the end, for example

http://fisica.udea.edu.co:8080/apidoc/index.html

This server is the endpoint for `mongodb`. 

<!-- 16m of Video to explain the plugin system and endpoint (url) system) -->

<!-- 24m how to build the wheel -->

## Data sample for Moai
Video Full detailed help [ES]

* https://drive.google.com/file/d/1kQTzKvrmQuUxN-SLs7L9HmMKdhP4fgkl/view
* https://drive.google.com/file/d/18kNkiQqp6lWAKsmk2VBkJli7l5RUElpz/view [TMP]

Data sample [XLSX]:

https://docs.google.com/spreadsheets/d/1tAbdLUTELnaulyoF-ctXXhln7oXFXJ2J

In [1]:
import pandas as pd
import json

In [16]:
df=pd.read_excel('https://docs.google.com/spreadsheets/d/e/2PACX-1vTJwBnceHMjYSVar20c-XMMgto7GxuWUKSo_ikPZjru1q8vQpFsQZZZBn7VNyFaJw/pub?output=xlsx')

The complete list of the mandatory fields is: 

`["article_id","journal","publisher","country","title", "author","doi","year","volume","issue","pages","abstract"]`

`"author"` must have a comma separated format: Last-Name Initials, e.g: `Bianchinotti MV, Borromei AM`

In [18]:
df[['author','year','publisher', 'title', 'doi',  'country', 'journal', 'volume', 
    'pages', 'article_id', 'language', 'abstract','issue'
    ]]

,author,year,publisher,title,doi,country,journal,volume,pages,article_id,language,abstract,issue
0,"Bianchinotti MV, Borromei AM, Musotto LL",2013,MACN Bernardino Rivadavia,Inferencias paleoecológicas a partir del análi...,NaN,Buenos Aires,Revista del Museo Argentino de Ciencias Natura...,NaN,NaN,NaN,NaN,NaN,NaN
1,Brignardello M,2013,Universidad Santiago de Chile,¿Escasez de agua en el siglo XXI?: Formas de a...,NaN,Santiago de Chile,Estudios Avanzados,NaN,NaN,NaN,NaN,NaN,NaN
2,Velez J,2018,Universidad del Rosario,Security floors: Towards an urban anthropology...,NaN,Bogotá,Territorios,NaN,NaN,NaN,NaN,NaN,NaN
3,"Calvinho LF, Dallard BE",2010,Universidad Nacional del Litoral,Receptores tipo toll en la inmunidad innata y ...,NaN,NaN,Fave Ciencias Veterinarias,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df[['author','year','publisher', 'title', 'doi',  'country', 'journal', 'volume', 
    'pages', 'article_id', 'language', 'abstract','issue'
    ]].fillna('').to_json('sample.json',orient='records',force_ascii=False)

In [2]:
with open(r"sample.json", "r") as read_file:
    data = json.load(read_file)

Check the data

In [3]:
data[0]['author']

'Bianchinotti MV, Borromei AM,  Musotto LL'

In [4]:
xdata

[{'author': 'Bianchinotti MV, Borromei AM,  Musotto LL',
  'year': 2013,
  'publisher': 'MACN Bernardino Rivadavia',
  'title': 'Inferencias paleoecológicas a partir del análisis de microfósiles fúngicos en una turbera pleistoceno-holocena de Tierra del Fuego, Argentina',
  'doi': '',
  'country': 'Buenos Aires',
  'journal': 'Revista del Museo Argentino de Ciencias Naturales, n.s.',
  'volume': '',
  'pages': '',
  'article_id': '',
  'language': '',
  'abstract': '',
  'issue': ''},
 {'author': 'Brignardello M',
  'year': 2013,
  'publisher': 'Universidad Santiago de Chile',
  'title': '¿Escasez de agua en el siglo XXI?: Formas de apropiación, distribución y uso del recurso hídrico por parte de productores vitivinícolas de Maipú, Mendoza',
  'doi': '',
  'country': 'Santiago de Chile',
  'journal': 'Estudios Avanzados',
  'volume': '',
  'pages': '',
  'article_id': '',
  'language': '',
  'abstract': '',
  'issue': ''},
 {'author': 'Velez J',
  'year': 2018,
  'publisher': 'Universidad del Rosario',
  'title': 'Security floors: Towards an urban anthropology of neighborhood associations for security in the city of La Plata, Argentina [Solos securitários: Para uma antropologia urbana das associações vicinais pela segurança na cidade de La Plata, Argentina ; Suelos securitarios: Hacia una antropología urbana de las asociaciones vecinales por la seguridad en la ciudad de La Plata, Argentina]',
  'doi': '',
  'country': 'Bogotá',
  'journal': 'Territorios',
  'volume': '',
  'pages': '',
  'article_id': '',
  'language': '',
  'abstract': '',
  'issue': ''},
 {'author': 'Calvinho LF, Dallard BE',
  'year': 2010,
  'publisher': 'Universidad Nacional del Litoral',
  'title': 'Receptores tipo toll en la inmunidad innata y su rol durante la infección intramamaria por Staphylococcus aureus',
  'doi': '',
  'country': '',
  'journal': 'Fave Ciencias Veterinarias',
  'volume': '',
  'pages': '',
  'article_id': '',
  'language': '',
  'abstract': '',
  'issue': ''}]

## Creates the database in mongodb
Load the database in mongo and assign it to, e.g., `la`

```bash
mongoimport --db la --collection data --file sample.json --jsonArray
```

## GS metadata

Get API KEY from your https://www.scraperapi.com/ account

Now the important thing!

```bash
moai_gslookup --hunabku_server http://127.0.1.1:8080 --proxy_api XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX --max_threads 1 --max_papers 2 --db la --max_tries 2
```

(for wn6 use http://10.0.0.8:8080) Check the results

```bash
$ mongo
> use la
> show collections
> db.stage.count()
> db.stage.find()
```

To delete a collection
```
> db.stage.drop()
```

## GS Cites
To download the cites, we need to control all the cites for each article. Therefore, we need to first create a cache.

### Creating the cache
`
moai_gscites  --hunabku_server http://127.0.1.1:8080 --proxy_apikey xxxxxx --db la --create_cache
`

**Where**:
* http://127.0.1.1:8080: is the Hunabku server
* xxxxxxx: the scraperapi apikey
* test: the name of the database where collection stage produced by moai_gslookup is located. 
* --create_cache: options to create the cites cache

**Results:**
A new collection is created in the database test called `cache_cites`

**NOTE**: depeding of the number of papers and the number of cites for the papers the cache creation can take a while. The proces is not papalelized yet :(


### Downloading the cites
At this point we should have the cache ready.
To download the cites please run:

`
moai_gscites  --hunabku_server http://127.0.1.1:8080 --proxy_apikey xxxxxxxx  --max_threads 5  --max_tries 2  --db la --max_papers 10000
`

**Where**:
* http://127.0.1.1:8080 is the Hunabku server
* xxxxxxxx is the apikey from scraper api
* N (--max_threads option) the number of threads depents of the plan that you buy in scraper api
* M number of cites to dowload, depends of the number of apicalls that you buy in scrapper api. Every cites requires two calls, if you buy 1000000 calls you can to download max 500000 cites.

## Summary:

In [11]:
import getpass

In [12]:
api_key=getpass.getpass()

 ································

In [14]:
summary=f'''
#Creates db.data collection
mongoimport --db la --collection data --file sample.json --jsonArray 

#Creates db.stage collection
moai_gslookup --hunabku_server http://10.0.0.8:8080 --proxy_api {api_key} --max_threads 1 --max_papers 2 --db la --max_tries 2

#Creates db.cache_cites collection
moai_gscites  --hunabku_server http://10.0.0.8:8080 --proxy_apikey {api_key} --db la --create_cache

#Creates db.stage collection
moai_gscites  --hunabku_server http://10.0.0.8:8080 --proxy_apikey {api_key}  --max_threads 5  --max_tries 2  --db la --max_papers 10000
'''

In [ ]:
print(summary)

In [25]:
%%writefile get_alias_wos.py
import unidecode
def wos_names_append(wos_names,last_name,first_names,initials):
    wos_names=wos_names+[           last_name+', '+first_names]
    if len( first_names.split())>1:
        wos_names=wos_names+[ last_name+', '+first_names.split()[0] ]
    if len( first_names.split())==2 and  len(first_names.split()[-1]):
        wos_names=wos_names+[ last_name+', '+first_names.split()[-1] ]
    wos_names=wos_names+[ last_name+', '+initials]
    if len( initials.split())>1:
        wos_names=wos_names+[ last_name+', '+initials.split()[0]]
    if len(initials.split())==2:
        wos_names=wos_names+[
              last_name+', '+first_names.split()[0]+' '+initials.split()[-1] ]
        wos_names=wos_names+[last_name+', '+initials.split()[-1] ]
    return wos_names

def wos_names_list(dy ,y_keys=['PRIMER APELLIDO','NOMBRES','INICIALES','SEGUNDO APELLIDO','full_name']   ):
    """
    Generate a list of WOS names possibilitites from full name parts.
    The full name parts are obtained from dictionary: dy
    with keys in the strict order:
       y_keys=[first_last_name,names,initials,second_first_name,[full_name]]
               otptional full_name is used in general function
    Output Example:
      ['Pabon, Adriana Lucia',
       'Pabon, Adriana',
       'Pabon, Lucia',
       'Pabon, A. L.',
       'Pabon, A.',
       'Pabon, Adriana L.',
       'Pabon, L.',
       'Pabon-Vidal, Adriana Lucia',
       'Pabon-Vidal, Adriana',
       'Pabon-Vidal, Lucia',
       'Pabon-Vidal, A. L.',
       'Pabon-Vidal, A.',
       'Pabon-Vidal, Adriana L.',
       'Pabon-Vidal, L.']
    TODO: Initial can be internally generated
    """
    last_name= unidecode.unidecode( dy[y_keys[0]]   )
    first_names=unidecode.unidecode( dy[y_keys[1]]  )
    initials=unidecode.unidecode( dy[y_keys[2]]  )

    wos_names=[]
    wos_names=wos_names_append(wos_names,last_name,first_names,initials)
    
    if dy.get( y_keys[3] ):
        last_names= unidecode.unidecode( dy[y_keys[0]]+'-'+dy[y_keys[3]]   )
        wos_names=wos_names_append(wos_names,last_names,first_names,initials)
    return wos_names
if __name__=='__main__':
    dy={'PRIMER APELLIDO':'Restrepo','NOMBRES':'Diego Alejandro','INICIALES':'D. A.',
        'SEGUNDO APELLIDO':'Quintero','full_name':'Diego Alejandro Restrepo Quintero'}
    l=wos_names_list(dy)
    dy={'PRIMER APELLIDO':'Quintero','NOMBRES':'Diego Alejandro Restrepo','INICIALES':'D. A. R.',
                  'SEGUNDO APELLIDO':'','full_name':'Diego Alejandro Restrepo Quintero'}
    l=l+wos_names_list(dy) 
    print(l)

Overwriting get_alias_wos.py

In [26]:
!python3 get_alias_wos.py

['Restrepo, Diego Alejandro', 'Restrepo, Diego', 'Restrepo, Alejandro', 'Restrepo, D. A.', 'Restrepo, D.', 'Restrepo, Diego A.', 'Restrepo, A.', 'Restrepo-Quintero, Diego Alejandro', 'Restrepo-Quintero, Diego', 'Restrepo-Quintero, Alejandro', 'Restrepo-Quintero, D. A.', 'Restrepo-Quintero, D.', 'Restrepo-Quintero, Diego A.', 'Restrepo-Quintero, A.', 'Quintero, Diego Alejandro Restrepo', 'Quintero, Diego', 'Quintero, D. A. R.', 'Quintero, D.']

In [19]:
if __name__=='__main__':
    dy={'PRIMER APELLIDO':'Quintero','NOMBRES':'Diego Alejandro Restrepo','INICIALES':'D. A. R.','SEGUNDO APELLIDO':'','full_name':'Diego Alejandro Restrepo Quintero'}
    print( wos_names_list(dy) )

['Quintero, Diego Alejandro Restrepo', 'Quintero, Diego', 'Quintero, D. A. R.', 'Quintero, D.']

In [1]:
import pandas as pd

In [4]:
dfl=pd.read_html( 'https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000893390' )

In [6]:
dfl[1]

                      0                             1
0                Nombre   Juan Alejandro Chica Garcia
1  Nombre en citaciones  CHICA GARCIA, JUAN ALEJANDRO
2          Nacionalidad                    Colombiana
3                  Sexo                     Masculino

In [7]:
dfl[2]

                                            0
0                    Identificadores de autor
1  Open Researcher and Contributor ID (ORCID)
2                           Autor ID (Scopus)

In [8]:
dfl[3]

                     0                                                  1
0  Formación Académica                                Formación Académica
1                  NaN  Maestría/Magister  UNIVERSIDAD LIBRE DE COLOMB...
2                  NaN  Especialización  CORPORACION UNIVERSITARIA DEL...
3                  NaN  Pregrado/Universitario  CORPORACION UNIVERSITA...

In [10]:
dfl[5]

                          0                                                  1
0   Experiencia profesional                            Experiencia profesional
1                       NaN  UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA Ded...
2                       NaN  FUNDACION PARA LA RURALIDAD LA EDUCACION Y EL ...
3                       NaN  UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA Ded...
4                       NaN  UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA Ded...
5                       NaN  UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA Ded...
6                       NaN  Corporación Universitaria Autonoma de Nariño D...
7                       NaN  UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA Ded...
8                       NaN  UNIVERSIDAD ANTONIO NARIÑO Dedicación: 40 hora...
9                       NaN  CENTRO DE INVESTIGACIÓN, DOCENCIA Y CONSULTORÍ...
10                      NaN  UNIVERSIDAD ANTONIO NARIÑO Dedicación: 40 hora...
11                      NaN  CENTRO DE INVESTIGACIÓN, DOCENCIA Y CONSULTORÍ...
12                      NaN  UNIVERSIDAD ANTONIO NARIÑO Dedicación: 40 hora...
13                      NaN  UNIVERSIDAD ANTONIO NARIÑO Dedicación: 11 hora...
14                      NaN  UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA Ded...
15                      NaN  CORPORACION UNIVERSITARIA DEL META Dedicación:...
16                      NaN  UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA Ded...
17                      NaN  UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA Ded...
18                      NaN  CORPORACION UNIVERSITARIA DEL META Dedicación:...
19                      NaN  CORPORACION UNIVERSITARIA DEL META Dedicación:...